<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>6464C975.dotm</Template><TotalTime>1088</TotalTime><Application>LibreOffice/4.4.0.3$Linux_X86_64 LibreOffice_project/de093506bcdc5fafd9023ee680b8c60e3e0645d7</Application><Paragraphs>126</Paragraphs><Company>JPG Jungelpatruljen Reklamebyrå AS</Company></Properties>